<div>
  <nav class="flex flex-wrap items-center justify-between px-4 py-3 m-3 text-sm bg-transparent">
    <div class="flex items-center flex-shrink-0 mr-6">
      <img src="assets/img/icon.png" alt="logo" class="w-12 h-12 transform hover:scale-110 transition-transform duration-300">
    </div>
    <div class="block lg:flex lg:items-center lg:w-auto">
      <div class="text-md lg:flex-grow">
        <a
          routerLink="/about"
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 transition ease-in-out delay-150 hover:scale-110 hover:bg-zinc-700 py-2 px-4 rounded-lg transform hover:-translate-y-1 transition-all duration-300"
        >
          About Us
        </a>
        <a
          routerLink="/home"
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 transition ease-in-out delay-150 hover:scale-110 hover:bg-zinc-700 py-2 px-4 rounded-lg transform hover:-translate-y-1 transition-all duration-300"
        >
          Home
        </a>
        <a
          routerLink="/plans"
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4 transition ease-in-out delay-150 hover:scale-110 hover:bg-zinc-700 py-2 px-4 rounded-lg transform hover:-translate-y-1 transition-all duration-300"
        >
          Services
        </a>
        <a
          routerLink="/crud"
          class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white transition ease-in-out delay-150 hover:scale-110 hover:bg-zinc-700 py-2 px-4 rounded-lg transform hover:-translate-y-1 transition-all duration-300 mr-8 lg:mr-10"
        >
          CRUD
        </a>
      </div>
      <div>
        <button
          routerLink="/explore"
          class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0 transition-colors duration-300 transform hover:-translate-y-1 hover:scale-110"
        >
          Explore
        </button>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
